//- Created by Pencroff on 26.10.2014.
extends layout
block content
    br
    br
    br
    .container-fluid
        .row
            .col-md-4.col-md-offset-4
                .panel.panel-default
                    .panel-heading
                        h2.panel-title.centre Error 404
                    .panel-body
                        if (typeof error !== 'undefined')
                            p= error
                        else
                            p The page you were trying to reach doesn't exist.
                        if (typeof details !== 'undefined')
                            p= details
                        br
                        a.btn.btn-primary.btn-block.btn-large(href="/app") Return to application

