p
    | Powered by
    | &thinsp;
    a(href='//pencroff.com', target='_blank') Pencroff.com
    | &nbsp;-&nbsp;
    a(href='//hapijs.com', target='_blank') hapijs
    | &nbsp;-&nbsp;
    a(href='//angularjs.org', target='_blank') AngularJS
