head
    //- todo Meta tags
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title Tui Lead Project
    head(profile="http://www.w3.org/2005/10/profile")
    link(rel="icon", type="image/png", href="/assets/img/rocket.png")
    link(href="/assets/css/style.css", rel="stylesheet", type="text/css")
    link(href="/assets/css/font-awesome.min.css", rel="stylesheet", type="text/css")
